.editor-description {
  margin: calc(10% + 0.5em) 0px;
  position: absolute;
  right: 0px;
  height: 80%;
  max-width: 33%;
}
.editor-description .divider {
  width: 1.5em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  background-color: #e1a51d;
  height: 100%;
  float: left;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.editor-description .description {
  float: left;
  height: 100%;
  max-width: calc(100% - 1.5em);
  overflow-y: auto;
}
.editor-description div {
  margin-bottom: 1em;
}
