#home.left-column {
  float: left;
  width: 300px;
  margin: 5px;
}
#home #game-view {
  float: right;
}

#gus {
  float: left;
  width: 128px;
}
#whois {
  background-image: url("../images/gus.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 128px;
}
#whois.text-block {
  width: 40%;
}
