<div class='editor-description'>
  <div class='divider' ng-click='toggle()'>
  </div>
  <div class='description' id='main' ng-show='show'>
    <div>
      <h2>How To Use the Builder</h2>
      <ul>
        <li>Change your current block using the selection bar.</li>
        <li>As you move your mouse around the editor, you can see a light blue square move along the grid. This
          indicator shows which square you will affect if you click.</li>
        <li>You can move the camera with the arrow keys or "W,A,S,D". You can rotate the world clockwise by pressing "E"
          and counter-clockwise by pressing "Q".</li>
        <li>Be sure to name your level, as well as set the number of girders available to the player.</li>
        <li>You can change the sky color by clicking on the square next to "pick sky color"</li>
        <li>If you navigate away from this page, your progress will be lost! Be sure to hit "save draft" to save your
          progress.</li>
        <li>You must be logged in to save drafts or publish levels.</li>
        <li>You can resume work on a draft by going to your profile, or the builder tab.</li>
        <li>You can test your level at any time by clicking "Test Level"</li>
        <li>In order to publish your level, you must beat your level in test mode.</li>
        <li>You can reopen this sidebar by clicking on the vertical tab.</li>
      </ul>
    </div>
    <button class='btn' onclick='toggle()'>Hide</button>
  </div>
</div>