<link rel="stylesheet" href="/browser/stylesheets/game-window.css">
<script src="/game/js/bundle.js"></script>
<script src="/browser/js/states/game-view.js"></script>
{{!-- <script src="/levelCreator/levelCreatorBundle.js"></script> --}}
<div id="game-view">
  <div class="game-window" id="game-container">
  </div>
</div>