<link rel="stylesheet" href="/browser/stylesheets/levelCreator.css">
<script type="text/javascript" src="levelCreator/levelCreatorBundle.js"></script>

<div class="level-creator-view">
  <div class="game-window" id='level-creator-container'></div>
</div>