.game-view {
  background-image: url("../../../images/gus.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-color: #000000;

  box-sizing: border-box;
  border: 4px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;

  width: 808px;
  height: 604px;
  margin: auto;
}
