<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mario. Girders. What more could you want?</title>
  <script src="/game/js/phaser.js"></script>
  <script type="text/javascript" src="/browser/js/browserbundle.js"></script>

</head>

<body>
  {{> _header}}


  {{{body}}}



</body>

</html>