<script type="text/javascript" src="/browser/js/states/createLevel.js"></script>

<div>
  {{!-- {{> _editor-description}} --}}
  <form id='create-level-form' ng-click="stopInputCapture()">
    <div class="level-title">
      <label for='text' name='level-title'>Level Title</label>
      <input type='text' class='level-title-input' name='level-title' ng-model='levelTitle' />
    </div>
    <div class="girder-count">
      <label for='number' name='girder-count'>Starting Girders</label>
      <input type='number' class='girder-count-input' name='girder-count' ng-model='girdersAllowed' ng-init=10 />
    </div>
    <div class="sky-color">
      <label for='color' name='sky-color'>Pick Sky Color</label>
      <input type='color' id="color" class='sky-color-input' name='sky-color' value="#4428BC" />
    </div>
  </form>
  <header id='tool-bar-container'>
    <nav>
      <ul id='tool-bar'>
        {{#each toolArr}}
        <li>
          <a onclick='changeActiveTool(  { "img" : "{{this.img}}" , "tile" : "{{this.tile}}" }  )'>
            <img style='height: 32px ; display:inline-block' src="{{this.img}}" /></a>
        </li>
        {{/each}}
      </ul>
    </nav>
  </header>
  {{#if testing}}
  {{> _game-view}}
  {{else}}
  {{> _level-creator-view}}
  {{/if}}



  <div id="editor-controls">
    <button class='btn' ng-show="!testing" onclick='testTesting()'>Test Level</button>
    <button class='btn' ng-show="testing" onclick='testTesting()'>Edit Level</button>
    <button class='btn btn-create' ng-show="readyToSave"
      onclick='submitBeatenLevel(beatenLevel, levelTitle, girdersAllowed, skyColor, false)'>Save Draft</button>
    <button class='btn btn-create' ng-show="beaten && readyToSave"
      onclick='submitBeatenLevel(beatenLevel, levelTitle, girdersAllowed, skyColor)'>Submit Level</button>
  </div>