<script type="text/javascript" src="/browser/js/states/createLevel.js"></script>

<div>
  {{!-- {{> _editor-description}} --}}
  <form id='create-level-form' ng-click="stopInputCapture()">
    <div class="level-title">
      <label for='text' name='level-title'>Level Title</label>
      <input type='text' class='level-title-input' name='level-title' ng-model='levelTitle' />
    </div>
    <div class="girder-count">
      <label for='number' name='girder-count'>Starting Girders</label>
      <input type='number' class='girder-count-input' name='girder-count' ng-model='girdersAllowed' ng-init=10 />
    </div>
    <div class="sky-color">
      <label for='color' name='sky-color'>Pick Sky Color</label>
      <input type='color' id="color" class='sky-color-input' name='sky-color' value="#4428BC" />
    </div>
  </form>
  <header id='tool-bar-container'>
    <nav>
      <ul id='tool-bar'>
        {{#each toolArr}}
        <li>
          <a onclick='changeActiveTool(  { "img" : "{{this.img}}" , "tile" : "{{this.tile}}" }  )'>
            <img style='height: 32px ; display:inline-block' src="{{this.img}}" /></a>
        </li>
        {{/each}}
      </ul>
    </nav>
  </header>


  {{> _game-view}}



  <div id="editor-controls">
    <br>
    <button class='btn' id="test" onclick='testTesting() '>Show Game</button>
    <button class='btn' onclick='requestParsedTileMap()'>GET TILE MAP</button>
  </div>

  {{!-- <script>

    //Set URL
    document.addEventListener('DOMContentLoaded', function () {
      console.log('##content loaded')
      document.getElementById('game-view').style.display = 'none';
    })
    document.getElementById('test').addEventListener('click', function () {
      console.log('##toogle button clicked')
    })
  </script> --}}