nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  border: (4px/ 2) solid black;
  border-collapse: collapse;
}

nav ul li:first-child {
  border-left: 4px solid black;
}
nav ul li::last-child {
  border-right: 4px solid black;
}
nav ul li a {
  background-color: #e1a51d;
  display: inline-block;
  padding: 10px 40px;

  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}

nav ul li a:hover {
  background-color: lighten(#e1a51d, 10%);
}
