#logo {
  height: 96px;
  padding-right: 15px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation: nearest-neighbor;
}
#company-title {
  color: #ececec;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Press Start 2P", cursive;
  text-shadow: 4px 4px 0px black;
}
#login {
  color: #ececec;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#logout {
  color: #905050;
  cursor: pointer;
}
header {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

header div:first-child {
  margin-right: auto;
}
header div:last-child {
  margin-left: auto;
}
p {
  float: right;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  border: (4px/ 2) solid black;
  border-collapse: collapse;
}

nav ul li:first-child {
  border-left: 4px solid black;
}
nav ul li::last-child {
  border-right: 4px solid black;
}
nav ul li a {
  background-color: #e1a51d;
  display: inline-block;
  padding: 10px 40px;

  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}

nav ul li a:hover {
  background-color: lighten(#e1a51d, 10%);
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.svgIcon {
  display: inline-flex;
  align-self: center;
}
